/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar{
    background:#fc8019;
    color:white;
    padding:15px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-weight:500;
}

.cart{
    background:white;
    color:#fc8019;
    padding:8px 15px;
    border-radius:6px;
}

/* HERO */
.hero{
    text-align:center;
    padding:70px 20px;
    background:#ffe9d6;
}

.hero h1{
    font-size:32px;
    margin-bottom:20px;
}

.search-box input{
    padding:12px;
    width:300px;
    border:1px solid #ccc;
    border-radius:6px 0 0 6px;
}

.search-box button{
    padding:12px 20px;
    background:#fc8019;
    color:white;
    border:none;
    border-radius:0 6px 6px 0;
    cursor:pointer;
}

/* CATEGORIES */
.categories{
    padding:40px 60px;
}

.category-container{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.category{
    background:#f2f2f2;
    padding:15px 25px;
    border-radius:25px;
    cursor:pointer;
    transition:0.3s;
}

.category:hover{
    background:#fc8019;
    color:white;
}

/* RESTAURANTS */
.restaurants{
    padding:40px 60px;
}

.restaurant-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:20px;
}

.card{
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    transition:0.3s;
    background:white;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h3{
    padding:10px;
}

.card p{
    padding:0 10px 15px;
    color:gray;
}

.card:hover{
    transform:scale(1.05);
}
